.admin-dashboard {
    padding: 1px;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
}

.charts {
    display: flex;
    justify-content: space-between; /* Aligns the charts side by side */
    gap: 20px;
    margin-top: 20px;
}

.chart-card {
    flex: 1; /* Ensures both charts take equal space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px; /* Adjust as needed for your layout */
}
