.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f9fc;
    font-family: 'Roboto', sans-serif;
  }
  
  .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 15px;
  }
  
  .password-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  .submit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #023246;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #5189a1;
  }
  
  .back-to-login {
    margin-top: 20px;
  }
  
  .back-to-login a {
    color: #023246;
    text-decoration: none;
    font-weight: 500;
  }
  
  .back-to-login a:hover {
    text-decoration: underline;
  }
  