.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
}

.left-panel {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  position: relative;
  background: url('./images/image.png') center/cover no-repeat;
}

.left-panel .overlay {
  padding: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.left-panel h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.left-panel p {
  font-size: 18px;
  margin-bottom: 20px;
}

.sign-in-btn {
  background-color: #023246;
  color: white;
  border: none;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}

.right-panel {
  width: 50%;
  background-color: #fff;
  padding: 20px;
}

.right-panel-form {
  max-width: 500px;
  width: 100%;
}

.right-panel h3 {
  color: #000;
  font-size: 30px;
  margin: 0;
}

.right-panel p {
  font-size: 12px;
  color: #555;
  margin: 5px 0;
}

.signup-form .label {
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  display: block;
}

.signup-form .input-field {
  width: 80%;
  padding: 8px;
  margin-bottom: 15px;
  color: #575151;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(237, 240, 242, 1);
}

.terms {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.terms input {
  margin-right: 10px;
}

.sign-up-btn {
  display: block;
  background-color: #023246;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
  width: 40%;
  text-align: center;
}

.sign-up-btn:hover {
  background-color: #5189a1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .left-panel, .right-panel {
    width: 100%;
  }

  .input-field {
    flex-direction: column;
    align-items: flex-start;
  }

  .sign-up-btn {
    width: 30%;
  }
}
